version: '3.8'

services:
  web:
    build: .
    ports:
      - "8082:3000"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis

  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  redisinsight:
    image: redislabs/redisinsight:latest
    ports:
      - "8081:5540"
    depends_on:
      - redis
